/* Computer */
@media screen and (min-width:1500px){
    
    /* Header */
    main{
        margin-top: 100px;
    }

    #pcheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    #mobilheader{
        display: none;
    }
    header{
        height:100px;
    }

    #tilmeld{
        background-color: #3b67a8;
        color: white;
        padding: 0px 30px 0px 30px;
        border-radius:5px;
    }

    nav{
        width: 50%;
    }
    nav a{
        font-size: 24px;
    }

    #pcheader{
        width: 84%;
    }



    /* Landing */
    .landing{
    height: 550px;
    }

    h1{
        font-size: 48px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 36px;
    }
    h4{
        font-size: 36px;
    }
    p{
        font-size: 24px;
    }

    .landing .firekolonner a section h3{
        font-size: 36px;
    }

    .landing  .firekolonner a section p{
        font-size: 24pt;
    }

    .landing .firekolonner a section{
        height: 400px;
        width: 300px;
    }
    
    .landing .firekolonner a section div{
        width: 250px;
    }

    .landing{
        background-image: url(images/339776320_598823578856700_3778013078219898664_n.jpg);
    }
    .landing .firekolonner{
        height: 550px;
    }



    /* Hold */
    .layout section{
        width: 300px;
        height:400px;
    }

    .layout section div { 
        width: 280px;
        height: 380px;
    }

    .layout section div h3 {
        font-size: 36px;
    }

    .hold{
        height: 700px;
    }

    /* Instagram */
    .feed{
        width:65%;
    }
    .arrows p{
        font-size: 24px;
        transform: scale(2);
        padding-bottom: 25px;
    }
    


    /* styling */
    #knap{
        padding: 20px 50px 20px 50px;

        font-size: 24px;
    }

    ul{
        font-size: 24px;
    }

    /* Alumner */
    .alumner section{
        height:775px;
    }

    /* Nyheder */
    .trekolonner section{
        width: 400px;
        }

    .bigpicnyheder{
        display: block;
    }
    .medpicnyheder{
        display: none;
    }
}

@media screen and (max-width:1500px){


    /* Header */
    main{
        margin-top: 100px;
    }

    #pcheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    #mobilheader{
        display: none;
    }
    header{
        height:100px;
    }

    #tilmeld{
        background-color: #3b67a8;
        color: white;
        padding: 0px 30px 0px 30px;
        border-radius:5px;
    }
    

    nav{
        width: 60%;
    }
    nav a{
        font-size: 24px;
    }

    #pcheader{
        width: 84%;
    }

/*********** Landing **********/

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }

    .landing .firekolonner a section h3{
        font-size: 28px;
    }

    .landing  .firekolonner a section p{
        font-size: 16pt;
    }

    .landing .firekolonner a section{
        height: 400px;
        width: 250px;
    }
    
    .landing .firekolonner a section div{
        width: 200px;
    }
    .landing{
        background-image: url(images/339776320_598823578856700_3778013078219898664_n.jpg);
    }

    .landing .firekolonner{
        height: 550px;
    }

    /* Nyheder */
    .trekolonner section{
        width: 300px;
        }

    .bigpicnyheder{
        display: none;
    }

    .medpicnyheder{
        display: block;
    }

        /* Instagram */
        .feed{
            width:65%;
        }

        .feed img{
            width:250px;
        }

        .arrows p{
            font-size: 16px;
            transform: scale(2);
            padding-bottom: 25px;
        }
        
    /* Hold */
    .layout section{
        width: 300px;
        height:400px;
    }

    .layout section div { 
        width: 280px;
        height: 380px;
    }

    .layout section div h3 {
        font-size: 36px;
    }

    .hold{
        height: 700px;
    }

    video{
        width: 720px;
        height: 405px;
    }

    /* styling */
    #knap{
        padding: 20px 50px 20px 50px;

        font-size: 16px;
    }
}


@media screen and (max-width:1280px){
    /***********Header **********/
    #pcheader{
        display: none;
    }

    #mobilheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px 0px 50px ;
    }

    header{
        height:64px;
    }
    main{
        margin-top:64px
    }

    /* Landing */
    h1{
        font-size: 36px;
        }
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }

    .landing .firekolonner a section h3{
        font-size: 24px;
    }

    .landing  .firekolonner a section p{
        font-size: 16pt;
    }

    
    .landing .firekolonner a{
        height:150px;
        width: 100%; 
    }
    .landing .firekolonner a section{
        height:150px;
        width: 100%;
    }
    .landing .firekolonner a section div{
        width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .landing{
        background-image: url(images/339776320_598823578856700_3778013078219898664_n.jpg);
    }
    .landing .firekolonner{
        height:850px;
        flex-direction: column;
    }


    /* Nyheder */
    .trekolonner{
        flex-direction: column;
    
    }

    /* Instagram */
    .remove{
        display: none;
    }

    .feed{
        width: 100%;
        justify-content: center;
    }

    /* Undervisere */
    .firekolonner{
        flex-direction: column;
    
    }
}