@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Jost&display=swap');
*{
    padding: 0%;
    margin: 0%;
}


/******************************************** Header ********************************************/
header{
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    color: black; 
    font-family: 'Jost', sans-serif;
    text-decoration: none;

    transition: 0.5s;
}

nav a:hover{
    color: #f78230;
    
}

/******************************************** Landing ********************************************/

.landing{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-family: 'Hind Siliguri', sans-serif;
}
h2{
    font-family: 'Hind Siliguri', sans-serif;
}
h3{
    color: #f78230;
    font-family: 'Hind Siliguri', sans-serif;
}
h4{
    font-family: 'Hind Siliguri', sans-serif;
}
p{
    font-family: 'Jost', sans-serif;

}

.landing .firekolonner section h3{
    font-family: 'Hind Siliguri', sans-serif;
}

.landing  .firekolonner section p{
    font-family: 'Jost', sans-serif;
}

.linje{
    background-color: #f78230;
    height: 4px;
}

.landing .firekolonner section{
    border-radius: 5px;
    background-color: rgba(24, 95, 145, 0.74);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    transition: 0.5s;
}

.landing .firekolonner section:hover{
    transform:scale(1.05);
    filter: brightness(1.2);
}


.landing .firekolonner section div{
    margin-top: 5px;
    margin-bottom: 5px;
}


/******************************************** Hold ********************************************/
#pic1{
    background-image: url(images/Roots-og-hybrid.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#pic2{
    background-image: url(images/jazzroom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#pic3{
    background-image: url(images/rnb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#pic4{
    background-image: url(images/indie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#pic5{
    background-image: url(images/jazzbeats.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#pic6{
    background-image: url(images/Musikproduktion.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout {
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin: auto;
}

.layout section{
    border-radius:5px; 
    
    transition: 0.5s;
}
.layout section:hover{
    transform:scale(1.05);
    filter: brightness(1.4);
}

.layout section div { 
    display: flex;
    justify-content: end;
    align-items: end;
}
.layout section div h3 {
    color: #f78230;
    text-decoration: underline; 
    font-family: 'Hind Siliguri', sans-serif;
    text-align: right;
}

.bodytext {
    width: 84%;
    margin: auto;
}

.hold{
    width:84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}

.hold section{
    width:50%;
}

/******************************************** Footer ********************************************/
footer{
    background-color: #AEAEAE;

}


/******************************************** Layout ********************************************/

.firekolonner{
    width:84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.trekolonner{
    width:84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tokolonner{
    width:84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.tokolonner section{
    width: 45%;
}

.tokolonner a{
    transition: 0.5s;
}

.tokolonner a:hover{
    color: #F78230;
    text-decoration: underline;
}

.bbgc{
    background-color: #383838;
    color: #F78230;
}
.bbgc p{
    color: white;
}



.overskrift{
    padding-left: 8%;
    width:66.666%;
    color: #f78230;
}
.overskrift2{
    width:86.666%;
    color: #f78230;
}

.arrows{
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: auto;
}
.arrows p{
    color: #3b67a8;
}

img{
    border-radius: 5px;
}

.dropshadow{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}


iframe{
    border-radius: 5px;
}
a{
    text-decoration: none;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84%;
    margin:auto;
}

#knap{
    background-color: #3b67a8;
    border-radius: 5px;

    color: white;
    font-family: 'Jost', sans-serif;
    text-decoration: none;

    margin: 50px 0px 50px 0px;
}

ul {
    padding-left: 25px;
    font-family: 'Jost', sans-serif;
    
}
#tm{
    color: white;
    text-decoration: underline;

    transition: 0.5s;
}

#tm:hover{
    color: #F78230;
    text-decoration: underline;
}

.feed{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p a {
    text-decoration: underline;
    color: white;
}

/******************************************** alumner ********************************************/

/* Main styles */


.alumner h2 {
	color: #f78230;
}
.alumner h3 {
	color: black;
}
#hvid{
    color: white;
}
#bandname{
    color: #f78230;
}

.alumner section{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*********** Undervisere **********/
.undervisere{
    width: 84%;
    margin: auto;
}

