@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Jost&display=swap');
*{
    padding: 0%;
    margin: 0%;
}


/******************************************** Header ********************************************/
header{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: space-between;
    justify-content: center;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: black; 
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

#tilmeld{
    background-color: #3b67a8;
    color: white;
    padding: 0px 30px 0px 30px;
    border-radius:5px;
    margin-right: 50px;
}
.logo{
    margin-left: 50px;
}

/******************************************** Landing ********************************************/

.landing{
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.linje{
    background-color: #f78230;
    height: 4px;
}

/******************************************** Layout ********************************************/

.firekolonner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.trekolonner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bbgc{
    background-color: #383838;
    color: #F78230;
}
.bbgc p{
    color: white;
}
.overskrift{
    padding:50px
}


/* Mobil */
@media screen and (max-width:1500px){
    /***********Header **********/
    #pcheader{
        display: none;
    }

    #mobilheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px 0px 50px ;
    }

    header{
        height:64px;
    }

/*********** Landing **********/
    .landing{
        background-image: url(images/frontsession-landing-klasse-hold.jpg);
        height: 826px;
    }

    .landing section div{
        width: 90%;
    }

    h1{
        font-size: 36px;
        font-family: 'Hind Siliguri', sans-serif;
    }


    p{
        font-family: 'Jost', sans-serif;
        font-size: 16px;
    }

    .landing section h3{
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 36px;
    }

    .landing section p{
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 24pt;
    }

    .landing section{
        height: 20%;
        width: 90%;
        border-radius: 5px;
        background-color: rgba(24, 95, 145, 0.74);

        color: white;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
    }

    .firekolonner{
        display: flex;
        flex-direction: column;
    }

/*********** Nyheder **********/
    .trekolonner section{
        width: 90%;
        height: 20%;
        border-radius: 5px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .trekolonner{
        display: flex;
        flex-direction: column;
    }

    .trekolonner section p{
        padding-bottom:50px;
    }
    
    h4{
        font-size: 16px;
        font-family: 'Hind Siliguri', sans-serif;
        text-align: center;
        padding-top: 15px;
    }

}

/* Computer */
@media screen and (min-width:1500px){
    /***********Header **********/
    #pcheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #mobilheader{
        display: none;
    }
    header{
        height:100px;
    }

    /*********** Landing **********/
    h1{
        font-size: 48px;
        font-family: 'Hind Siliguri', sans-serif;
    }
    h4{
        font-size: 36px;
        font-family: 'Hind Siliguri', sans-serif;
        text-align: center;
    }
    p{
        font-family: 'Jost', sans-serif;
        font-size: 24px;
    }

    .landing section h3{
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 36px;
    }

    .landing section p{
        font-family: 'Jost', sans-serif;
        font-size: 24pt;
    }

    .landing section{
        height: 400px;
        width: 300px;
        border-radius: 5px;
        background-color: rgba(24, 95, 145, 0.74);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;
    }
    
    .landing section div{
        width: 250px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .landing{
        background-image: url(images/339776320_598823578856700_3778013078219898664_n.jpg);
        padding-left: 100px;
        padding-right: 100px;
    }

    /*********** Nyheder **********/
    .trekolonner section{
    width: 400px;
    }
}